.app-container {
  padding-left: 15px;
  padding-right: 15px;
}

.app-container-row {
  display: flex;
}

.app-container .app-container-row div{
  flex: 1;
  text-align: center;
  border:1px solid black;
  height: 50vw;
  line-height: 50vw;
}
